Repository Rajath-Acharya/chat-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, prettier --write

test husky
  package.json
Due: prettier --write

test husky
  .huskyrc.json
Due: prettier --write

test husky
  .lintstagedrc.json
Due: prettier --write

husky new set up
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write

husky new set up
  README.md
  package.json
Due: prettier --write

husky new set up
  .husky/pre-commit
Due: none

husky set up complete
  src/components/Login.tsx
Due: yarn run lint

route set up
  package.json
  src/App.tsx
  src/components/Dashboard.tsx
  src/components/Home.tsx
  src/components/Layout.tsx
  src/components/NoMatch.tsx
  src/components/Signup.tsx
  src/main.tsx
  yarn.lock
Due: yarn run lint, prettier --write

login + signup ui
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  index.html
  package.json
  public/vite.svg
  src/App.tsx
  src/components/Dashboard.tsx
  src/components/Home.tsx
  src/components/Layout.tsx
  src/components/Login.tsx
  src/components/NoMatch.tsx
  src/components/Signup.tsx
  src/global.d.ts
  src/shared/Button.tsx
  src/shared/InputForm.tsx
  src/styles/auth.module.scss
  src/styles/utils/global.scss
Due: yarn run lint, prettier --write

login + signup ui
  src/styles/auth.module.scss
  src/styles/utils/global.scss
Due: none

login + signup ui
  .eslintignore
  .prettierignore
Due: none

[logic]: login + signup
  .env
  .eslintrc.json
  package.json
  src/App.tsx
  src/api/auth.api.ts
  src/components/Login.tsx
  src/components/Signup.tsx
  src/helpers/auth.types.ts
  src/helpers/toaster.types.ts
  src/main.tsx
  src/services/utils.ts
  src/shared/Button.tsx
  vite.config.ts
  yarn.lock
Due: yarn run lint, prettier --write

dashboard UI
  src/App.tsx
  src/assets/home-icon.svg
  src/assets/profile-placeholder.png
  src/components/Dashboard.tsx
  src/components/Layout.tsx
  src/components/Login.tsx
  src/components/Profile.tsx
  src/components/Sidebar.tsx
  src/components/Signup.tsx
  src/styles/Layout.module.scss
  src/styles/Sidebar.module.scss
  src/styles/utils/global.scss
Due: yarn run lint

Path conditions:
  yarn run lint: any of: src/**/*.{js,ts,jsx,tsx}
  prettier --write: any of: *.json
